<p id="notice"><%= notice %></p>

<p>
  <strong>Chef:</strong>
  <%= @following.chef %>
</p>

<p>
  <strong>User:</strong>
  <%= @following.user %>
</p>

<p>
  <strong>Is favorite:</strong>
  <%= @following.is_favorite %>
</p>

<%= link_to 'Edit', edit_following_path(@following) %> |
<%= link_to t('back'), followings_path %>
