<%= stylesheet_link_tag 'static_pages' %>
<div class ="container">
		<center>
		<div class="col-md-12">
      <h2 class="title"><%= t('.title') %></h2>
	       <!-- <%= link_to image_tag('paprika_logo.jpg', :class => "logo img-responsive"), root_path %>-->
		  <div class="col-md-7 col-xs-12 group-col vcenter">
 				<!--<%= image_tag('grupo.JPG', :class => "group img-responsive") %>-->
 			</div>
		</div>

		<div class="col-md-12">
			<h3><%= t('.team') %></h3>
			<p class="intro-body"><%= t('.team_description') %></p>

			<div class = "col-md-12">
				<%= image_tag('about/girl', :class => "team-photo img-responsive") %>
				<h4 class="team-text">LAURA VIVIANA ÁLVAREZ CARVAJAL</h4>
				<p class="team-role">Scrum master</p>
				<p class="team-role"><%= t('.developer') %></p>
			</div>

			<div class="col-md-12">
				<div class="col-md-6 col-xs-12">
					<%= image_tag('about/girl_black_hair', :class => "team-photo img-responsive") %>
					<p class="team-text">LAURA ALEJANDRA CHAPARRO GUTIÉRREZ</p>
					<p class="team-role"><%= t('.developer') %></p>
				</div>
				<div class="col-md-6 col-xs-12">
					<%= image_tag('about/guy', :class => "team-photo img-responsive") %>
					<p class="team-text">ANDRÉS FELIPE LÓPEZ BECERRA</p>
					<p class="team-role"><%= t('.developer') %></p>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-6 col-xs-12">
					<%= image_tag('about/guy', :class => "team-photo img-responsive") %>
					<p class="team-text">JONATHAN MARTÍNEZ CHINGATE</p>
					<p class="team-role"><%= t('.developer') %></p>
				</div>
				<div class="col-md-6 col-xs-12">
					<%= image_tag('about/guy', :class => "team-photo img-responsive") %>
					<p class="team-text">JUAN SEBASTIÁN PARDO JIMÉNEZ</p>
					<p class="team-role"><%= t('.developer') %></p>
				</div>
			</div>
		</div>
		</center>
	</div>
