<div class="panel panel-success">
   <div class="panel-heading">
     <h4>Nuevo Comentario</h4>
    <% @dish_evaluation = DishEvaluation.new%>
    <%= bootstrap_form_for(@dish_evaluation) do |f| %>
      <% if @dish_evaluation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@dish_evaluation.errors.count, "error") %> prohibited this dish_evaluation from being saved:</h2>

          <ul>
          <% @dish_evaluation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <input readonly="readonly" value="<%= current_user.id %>" type="email" name="dish_evaluation[user_id]" id="dish_evaluation_user_id" style="display:none">
      <input readonly="readonly" value="<%= dish.id %>" type="email" name="dish_evaluation[dish_id]" id="dish_evaluation_dish_id" style="display:none">

      <div class="col-md-4">
        <div class="field">
          <%= f.number_field :score_time,{ :min => 1, :max=> 5,enable: true } %>
        </div>
      </div>

      <div class="col-md-4">
      <div class="field">
        <%= f.number_field :score_quality,{ :min => 1, :max=> 5,enable: true } %>
      </div>
      </div>

      <div class="col-md-4">
      <div class="field">
        <%= f.number_field :score_visual,{ :min => 1, :max=> 5,enable: true } %>
      </div>
      </div>

      <div class="col-md-12">
      <div class="field">
        <%= f.text_area :comment %>
      </div>
      </div>
      <div class="actions" align="center">
        <%= f.submit :class => "btn btn-embossed btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
