<div class="col-md-12">
  <div class="col-md-12">
    <div class="col-md-12"><b><%= dish_evaluation.user.username%> : </b><%= dish_evaluation.comment %></div>
    <div class="col-md-3"><h5>Tiempo: <%=dish_evaluation.score_time%></h5></div>
    <div class="col-md-4"><h5>Calidad: <%=dish_evaluation.score_quality%></h5></div>
    <div class=col-md-5><h5>Presentación: <%=dish_evaluation.score_visual%></h5></div>
  </div>
    <% if user_signed_in? %>
      <%if current_user.username == dish_evaluation.user.username%>
        <button class="btn btn-embossed btn-primary" id="comment" type="button" value ="<%=dish_evaluation.id%>">Editar</button>
        <div id="divcomment"> </div>
      <%end%>
    <%end%>
</div>
