<p id="notice"><%= notice %></p>
      <!------>
  <div class="container">
    <div class="col-md-3" align="center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="img-div"> <img src="<%= @chef.picture %>" class="img-circle"></div>
        </div>
        <div class="panel-body">
          <h3><%= @chef.username %></h3>
            <h4><%= @chef.name unless @chef.name.blank? %>
            <%= @chef.lastname unless @chef.lastname.blank? %></h4>
            <h5><%= @chef.category unless @chef.category.blank? %></h5>
            <h5><%= @chef.bio unless @chef.bio.blank? %></h5>

        <%flag = true
          follow = nil%>
        <% if user_signed_in? %>
          <% if current_user.type == "Chef" and current_user.id == @chef.id%>
            <%= link_to "<button class='btn btn-embossed btn-primary' >Nuevo plato</button>".html_safe, new_dish_path %>
          <%end%>
          <% if current_user.id != @chef.id%>
            <%if @followings !=nil%>
              <% @followings.each do |following| %>
                <% if following.user.id == current_user.id
                  flag = false
                  follow = following
                  break
                end%>
              <%end%>
            <%end%>
            <%if flag%>
              <%= link_to "<button class='btn btn-embossed btn-warning' >Seguir</button>".html_safe,
                new_following_path(follow, :chef_id => @chef.id, :user_id => current_user.id, :chef => @chef),
                method: :get %>
            <%else%>
              <%= link_to "<button class='btn btn-embossed btn-danger'>Dejar de seguir</button>".html_safe,
              following_path(follow, :chef => @chef), method: :delete %>
            <%end%>
          <%end%>
        <%end%>
        </div>
      </div>
    </div>


<!-- Dishes-->
    <div class="col-md-9" >
      <div class="scroll-dish">
        <div class="container-fluid">
        <% @dishes.each do |dish| %>
        <%= render "dishes/show_dish", dish: dish , chef: nil, divide: "", view_more: true, in_chef: true, dish_images: dish.dish_images %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

    <!--
    <a href= "<%= chefs_path %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.4s"> <span class="network-name">Ver todos</span>  </a>
    <a href= "<%= chef_dishes_path(@chef) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.4s"><span class="network-name">Platos de este chef</span></a>
-->
