<p id="notice"><%= notice %></p>
      <!------>
  <div class="container">
    <div class="col-md-3" align="center">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="img-div"> <img src="<%=@chef.picture%>" class="img-circle"></div>
          <h3><%= @chef.username %></h3>
        </div>
        <div class="panel-body">
            <h4><%= @chef.type unless @chef.type.blank? %></h4>
            <h5><%= @chef.category unless @chef.category.blank? %></h5>
            <h5><%= @chef.name unless @chef.name.blank? %>
            <%= @chef.lastname unless @chef.lastname.blank? %></h5>
            <h5><%= @chef.email unless @chef.email.blank? %></h5>
            <h5><%= @chef.birthday unless @chef.birthday.blank? %></h5>
            <h5><%= @chef.bio unless @chef.bio.blank? %></h5>
        </div>
        <% if user_signed_in? %>
          <% if current_user.type == "Chef" and current_user.id == @chef.id%>
            <%= link_to "<button class='btn btn-embossed btn-primary' >Nuevo plato</button>".html_safe, new_dish_path %>
          <%end%>
          <% if current_user.id != @chef.id%>
            <%= link_to "<button class='btn btn-embossed btn-danger' >Seguir</button>".html_safe %>
          <%end%>
        <%end%>
      </div>
    </div>


<!-- Dishes-->
    <div class=col-md-8 >
        <div class="container-fluid">
        <% @dishes.each do |dish| %>
        <%=render "dishes/show_dish", dish: dish , chef: nil, divide: "",viewmore: true  %>
        <!--
          <div class=col-md-12 >
              <div class=col-md-12 ><h3><a href= "<%= dish_path(dish) %>"><%= dish.name %></a></h3></div>
              </br>
              </br>
              <div class=col-md-3 >
                <div class="imgdish-div">
                  <img src="<%=dish.picture%>" class="img-circle">
                </div>
              </div>
              <div class=col-md-9 >
                <div class=col-md-12 ><b>Description: </b><%= dish.description %></div>
                <div class=col-md-3 >Score: <%= dish.score %></div>
                <div class=col-md-4 >Price:  <%= dish.price %></div>
                <div class=col-md-4 >Calories: <%= dish.calories %></div>
                <div class=col-md-1 ><td><%= link_to 'Show', dish %></td>
                  <td><%= link_to 'Edit', edit_dish_path(dish) if policy(dish).edit? %></td>
                  <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } if policy(dish).destroy? %></td>
                </div>
              </div>
              </br>
              </br>
          </div>-->
        <% end %>
      </div>
    </div>
  </div>

    <!--
    <a href= "<%= chefs_path %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"> <span class="network-name">Ver todos</span>  </a>
    <a href= "<%= chef_dishes_path(@chef) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Platos de este chef</span></a>
-->
