<p id="notice"><%= notice %></p>

<h1>Tag Dishes</h1>

<table>
  <thead>
    <tr>
      <th>Dish</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_dishes.each do |tag_dish| %>
      <tr>
        <td><%= tag_dish.dish %></td>
        <td><%= tag_dish.tag %></td>
        <td><%= link_to t('show'), tag_dish %></td>
        <td><%= link_to 'Edit', edit_tag_dish_path(tag_dish) %></td>
        <td><%= link_to 'Destroy', tag_dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag Dish', new_tag_dish_path %>
