<%= form_for(delivery_person) do |f| %>
  <% if delivery_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_person.errors.count, "error") %> prohibited this delivery_person from being saved:</h2>

      <ul>
      <% delivery_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :document %>
    <%= f.text_field :document %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.text_field :picture %>
  </div>

  <div class="actions" align="center">
    <%= f.submit :class => "btn btn-embossed btn-primary" %>
  </div>
<% end %>
