<p id="notice"><%= notice %></p>
  <div class="container">
    <% @chefs.each do |chef| %>
      <div class="col-md-3" align="center">

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="imgs-div"> <img src="<%=chef.picture%>" class="img-circle"></div>
            <h2><%= chef.username %></h2>
          </div>
          <div class="panel-body">
              <h6><%= chef.name unless chef.name.blank? %>
              <%= chef.lastname unless chef.lastname.blank? %></h6>
              <h6><%= chef.email unless chef.email.blank? %></h6>
              <h6><%= chef.birthday unless chef.birthday.blank? %></h6>
              <h6><%= chef.category unless chef.category.blank? %></h6>
              <h6><%= chef.type unless chef.type.blank? %></h6>
              <h6><%= chef.bio unless chef.bio.blank? %></h6>
              <a href= "<%= chef_path(chef) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver perfil</span></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<br>
