<div class="container" align="Center">
  <h3> <%= t('.edit_profile')%></h3>

  <%= bootstrap_form_for(current_user, as: 'user', url: edit_profile_path(current_user)) do |f| %>

      <div class="row"  align="Center">
        <div class="col-md-4" align="left"></div>
        <div class="col-md-4" align="left">
        <% if ( @user!=nil && @user.errors.any?) %>
            <div id="errorExplanation">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <center>
          <div class="wrapper" id="wrapper-image">
            <div class="no-image" id="img-result">
              <%= f.file_field :user_picture, id: 'button-to-hide' %>
            </div>
          </div>
        </center>
          <button class="show-button">Show server request</button>
          <div class="upload-result">
            <button class="hide-button">Close</button>
            <pre class="upload-result__content">
            </pre>
          </div>

          <div style="margin-top: 5cm">
            <%= f.text_field :username, autofocus: true%>
          </div>

          <div>
            <% if not current_user.email_verified? %>
                <%= f.text_field :email, autofocus: true, value: '', placeholder: 'Example: email@me.com' %>
            <%else%>
                <%= f.text_field :email,:readonly => true%>
            <% end%>
          </div>

          <div class="field">
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.text_field :lastname, autofocus: true %>
          </div>

          <div class="field">
            <%= f.date_select :birthday,{ :start_year => 1920, :end_year => 2016 }, autofocus: true %>
          </div>

          <div class="field">
            <%= f.text_field :phone, autofocus: true %>
          </div>
          <% if current_user.type == "Chef"%>
              <div class="field">
                <%= f.text_field :category, autofocus: true %><em>(Campo opcional)</em>
              </div>
              <div class="field">
                <%= f.text_area :bio, autofocus: true %><em>(Campo opcional)</em>
              </div>
          <%end%>

          <div class="actions" align="center">
            <%= f.submit t('.confirm'), :class => "btn btn-embossed btn-primary" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
