<p id="notice">
  <%= notice %>
</p>
<div class="container">
  <div class="col-md-3" align="center">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="img-div"> <img src="<%=current_user.picture%>" class="img-circle"></div>
        <h3>
          <%= current_user.username %>
        </h3>
      </div>
      <div class="panel-body">
        <h4>
          <%= current_user.name unless current_user.name.blank? %>
            <%= current_user.lastname unless current_user.lastname.blank? %>
        </h4>
        <h4>
          <%= current_user.email unless current_user.email.blank? %>
        </h4>
        <h4>
          <%= current_user.birthday unless current_user.birthday.blank? %>
        </h4>
        <h4>
          <%= current_user.category unless current_user.category.blank? %>
        </h4>
        <h4>
          <%= current_user.type unless current_user.type.blank? %>
        </h4>
        <h4>
          <%= current_user.bio unless current_user.bio.blank? %>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-9" align="center">

    <% @followings.each do |following| %>
      <%if following.user == current_user%>
        <b><font SIZE=4 COLOR="#DC768C">Siguiendo a </font></b>
        <%= following.chef.username %> desde
          <%= following.created_at %>
            </br>
            <%end%>
              <% end %>

                <% @favorite_dishes.each do |favorite_dish| %>
                  <b><font SIZE=4 COLOR="#DC768C">Guardo plato </font></b>
                  <%= favorite_dish.dish.name %> de
                    <%= favorite_dish.dish.chef.username %>
                      </br>
                      <% end %>

                        <div style="text-align:center">

                          <% friends = current_user.friends %>

                            <%  friends.each do |f|%>

                              <%= image_tag f['picture']['data']['url'] %>

                                <h4 class="team-text">
                                  <%= f['name'] %>
                                </h4>

                                <% end %>
                        </div>

  </div>
</div>