<body id="home">
 <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- FullScreen -->
  <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">GourNet</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s"><%=t('.forget_about_cooking_at_home')%></h3>
			<ul class="list-inline intro-social-buttons">
          <% if !user_signed_in? %>
            <li><%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-lg mybutton_cyano wow fadeIn" %>
    				</li>
    				<li id="download" ><%= link_to t('.sign_in'), new_user_session_path, class: "btn btn-lg mybutton_standard wow swing wow fadeIn" %>
    				</li>
          <%end%>
			</ul>
		</div>
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#dishes"> <img class="img_scroll" src="<%= image_path('theme/icon/circle.png') %>" alt=""> </a>
			</div>
		</div>
  </div>

    <!-- NavBar-->
    <!-- NavBar
    <nav class="navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GourNet</a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <div class="search-wrapper">
                    <div class="input-holder">
                        <%= form_tag dishes_path, :method => 'get' do %>
                          <%= text_field_tag :search, params[:search], :class => 'search-input', :placeholder => "Ej: pizza, risotto." %>
                          <div class="search-icon">
                            <%= submit_tag "", :class => "search-button" %>
                            <span></span>
                          </div>
                        <% end %>
                    </div>
                </div>

                <ul class="nav navbar-nav">
                  <% if user_signed_in? %>
                      <li class="menuItem">
                          <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="true">
                              <%=current_user.username%> <span class="caret"></span> </a>
                          <ul class="dropdown-menu">
                              <li class="dropdown-submenu">
                                <%= link_to 'Mis direcciones', addresses_path%>
                              </li>
                              <% if current_user.type == "Chef" %>
                                <li class="dropdown-submenu">
                                  <%= link_to t('.new_dish'), new_dish_path %>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <%= link_to 'Perfil usuario', user_path(current_user)%>
                                    <%= link_to 'Perfil chef', chef_path(current_user)%>
                                </li>
                                <li class="divider"></li>
                              <% else %>
                                <li class="dropdown-submenu">
                                  <%= link_to t('.profile'), user_path(current_user)%>
                                </li>
                              <% end%>
                              <li class="dropdown-submenu">
                                  <%= link_to t('.edit_profile'), edit_profile_path%>
                              </li>
                              <li class="dropdown-submenu">
                                  <%= link_to t('.change_your_password'), edit_user_registration_path%>
                              </li>
                              <li class="divider"></li>
                              <li class="menuItem">
                                  <%= link_to t('.log_out'), destroy_user_session_path, method: :delete%>
                              </li>
                          </ul>
                      </li>
                  <%else%>
                      <li class="menuItem">
                          <%= link_to t('.sign_in'), new_user_session_path%>
                      </li>
                      <li class="menuItem">
                          <%= link_to t('.sign_up'), new_user_registration_path%>
                      </li>
                  <% end%>

                <li class="menuItem">
                    <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="true">
                        Menu <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <%= link_to t('.chefs'), chefs_path%>
                        </li>
                        <li class="dropdown-submenu">
                            <%= link_to t('.dishes'), dishes_path%>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-submenu">
                            <%= link_to t('.contact_us'), new_contact_path %>
                        </li>
                        <li class="dropdown-submenu">
                            <%= link_to t('.about_us'), static_pages_about_us_path %>
                        </li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>
     NavBar END-->

    <!--dishes--->
    <div id="dishes" class="content-section-b" style="margin-top:80px; border-top:0">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <%= image_tag "http://cdn.colombia.com/sdi/2011/08/02/bandeja-paisa-500926.jpg", :title => "example", :class=>"img-responsive" %>
              </div>

              <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                  <h3 class="section-heading"> <a href= "<%= dish_path(@dishes[0]) %>" class="link"><%= @dishes[0].name %></a></h3>
                  <div class="sub-title lead3">
                    <a href= "<%= chef_path(@dishes[0].chef) %>" class="link"><b><%= @dishes[0].chef.username %></b></a>
                  </div>
                  <p class="lead"> <%= truncate(@dishes[0].description, :length => 200) %>
                      <p>
                          <a href= "<%= dish_path(@dishes[0]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver detalles</span></a>
                          <a href= "<%= dish_path(@dishes[0]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ordenar</span></a>
                      </p>
              </div>
            </div>
        </div>
    </div>      <!-- /.container -->

    <div class="content-section-a">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInLeftBig">
                <div id="owl-demo-1" class="owl-carousel">
                  <a href="img/iphone.png" class="image-link">
                    <div class="item">
                      <%= image_tag "http://cdn.noticiaaldia.com/wp-content/uploads/2015/08/00041517915417f854ff2d94f7acd3b8.jpg", :title => "example", :class=>"img-responsive img-rounded" %>
                    </div>
                  </a>
                </div>
            </div>

        <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
            <h3 class="section-heading"> <a href= "<%= dish_path(@dishes[1]) %>" class="link"><%= @dishes[1].name %></a></h3>
            <div class="sub-title lead3">
              <a href= "<%= chef_path(@dishes[1].chef) %>" class="link"><b><%= @dishes[1].chef.username %></b></a>
            </div>
            <p class="lead"> <%= truncate(@dishes[1].description, :length => 200) %>
                <p>
                    <a href= "<%= dish_path(@dishes[1]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver detalles</span></a>
                    <a href= "<%= dish_path(@dishes[1]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ordenar</span></a>
                </p>
            </div>
        </div>
      </div>
    </div>
    <!--end dishes-->


  <!-- Chefs -->
  <div id="Chefs" class="content-section-b">
    <div class="container">
      <div class="col-md-12 text-center wrap_title">
        <h2>Chefs</h2>
        <p class="lead" style="margin-top:0"><%= t('.favourite_chef')%></p>
        <a href= "<%= chefs_path %>" class="btn btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.5s"><span class="network-name">Ver todos</span></a>
      </div>

      <div class="row first-chef-row">
        <%for i in(0..3)%>
          <div class="col-sm-3 wow fadeInDown text-center">
              <div class="index-img"> <img src="<%= @chefs[i].picture%>" class="img-circle"></div>
              <h3> <a href= "<%= chef_path(@chefs[i]) %>" class="link"><%= @chefs[i].username %></a></h3>
              <p class="lead"><%= t('.chef_'+(i+1).to_s)%></p>
              <li><a href= "<%= chef_path(@chefs[i]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.5s"><span class="network-name">Ver perfil</span></a>
          </div><!-- /.col-lg-4 -->
        <%end%>
      </div>
    </div>
  </div>
  <!-- End Chefs -->

  <div id="coming_soon" class="content-section-c ">
    <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center white">
        <h2>GourNet</h2>
      </div>
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="mockup-content">
            <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
              <<button type="button "><span><%= t('.join_us')%></span></button>
              <div class="morph-content">
                <div>
                  <div class="content-style-form content-style-form-4 ">
                    <h2 class="morph-clone"><%= t('.join_us')%></h2>
                    <form>
                      <center><h3><%= t('.coming_soon')%></h3></center>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <!-- Credits -->
  <!--
  <div id="credits" class="content-section-a">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2><%=t('.about_us')%></h2>
        </div>
        <%= stylesheet_link_tag 'static_pages' %>

  	    <div class ="wrapper container">
	        <div class="wrapper-body row">
		      	  <p class="intro-body"><%= t('.team_description')%></p>

			        <div class = "row team-row">
                <li><a href= "static_pages/about_us" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Conocenos Más</span></a>
              </div>
			    </div>
        </div>

      </div>
    </div>
  </div>
  -->
  <!-- Banner Download -->
  <div id="downloadlink" class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Nuestras Redes</h2>
        <li><a href="https://twitter.com/" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
				</li>
      </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <!--
  <div id="contact" class="content-section-a">
    <div class="container">
      <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2><%=t('.contact_us')%></h2>
        <p class="lead" style="margin-top:0">A special thanks to Santa.</p>
        <%= link_to t('.contact_us'), new_contact_path, class:"btn  btn-lg mybutton_cyano wow fadeIn" %>
      </div>
      </div>
    </div>
  </div>

  -->
</body>
