<body id="home">
 <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">GourNet</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s"><%=t('.forget_about_cooking_at_home')%></h3>
			<ul class="list-inline intro-social-buttons">
        <li><%= link_to t('.sign_up'), new_user_registration_path, class: "btn  btn-lg mybutton_cyano wow fadeIn" %>
				</li>
				<li id="download" ><%= link_to t('.sign_in'), new_user_session_path, class: "btn btn-lg mybutton_standard wow swing wow fadeIn" %>
				</li>
			</ul>
		</div>
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="<%= image_path('theme/icon/circle.png') %>" alt=""> </a>
			</div>
		</div>
    </div>

    <!-- NavBar-->
    <nav class="navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GourNet</a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <div class="search-wrapper">
                    <div class="input-holder">
                        <%= form_tag dishes_path, :method => 'get' do %>
                          <%= text_field_tag :search, params[:search], :class => 'search-input', :placeholder => "Ej: pizza, risotto." %>
                          <div class="search-icon">
                            <%= submit_tag "", :class => "search-button" %>
                            <span></span>
                          </div>
                        <% end %>
                    </div>
                </div>

                <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                    <li class="menuItem">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="true">
                            <%=current_user.username%> <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <%= link_to t('.edit_profile'), edit_profile_path%>
                            </li>
                            <li class="dropdown-submenu">
                                <%= link_to t('.change_your_password'), edit_user_registration_path%>
                            </li>
                            <li class="divider"></li>
                            <li class="menuItem">
                                <%= link_to t('.log_out'), destroy_user_session_path, method: :delete%>
                            </li>
                        </ul>
                    </li>
                <%else%>
                    <li class="menuItem">
                        <%= link_to t('.sign_in'), new_user_session_path%>
                    </li>
                    <li class="menuItem">
                        <%= link_to t('.sign_up'), new_user_registration_path%>
                    </li>
                <% end%>

                <li class="menuItem">
                    <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="true">
                        Menu <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <%= link_to t('.chefs'), chefs_path%>
                        </li>
                        <li class="dropdown-submenu">
                            <%= link_to t('.dishes'), dishes_path%>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-submenu">
                            <%= link_to t('.contact_us'), new_contact_path %>
                        </li>
                        <li class="dropdown-submenu">
                            <%= link_to t('.about_us'), static_pages_about_us_path %>
                        </li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NavBar END-->

  <!-- What is -->
  <div id="whatis" class="content-section-b" style="border-top: 0">
  <div class="container">

    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2>Chefs</h2>
      <p class="lead" style="margin-top:0"><%= t('.favourite_chef')%></p>
      <li><a href= "<%= chefs_path %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver todos</span></a>
    </div>

    <div class="row first-chef-row">

        <div class="col-sm-6 wow fadeInDown text-center">
            <img  src="<%= image_path('theme/chefs/profile_1.png') %>" alt="Generic placeholder image">
            <h3> <%= @chefs[0].name %> </h3>
            <p class="lead"><%= t('.chef_1')%></p>
            <li><a href= "<%= chef_path(@chefs[0]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver perfil</span></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-6 wow fadeInDown text-center">
            <img src="<%= image_path('theme/chefs/profile_2.png') %>" alt="Generic placeholder image">
            <h3> <%= @chefs[1].name %> </h3>
            <p class="lead"><%= t('.chef_2')%></p>
            <li><a href= "<%= chef_path(@chefs[1]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver perfil</span></a>
        </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->
    <br>
    <hr>
    <br>
    <div class="row second-chef-row">

        <div class="col-sm-6  wow fadeInDown text-center">
            <img src="<%= image_path('theme/chefs/profile_3.png') %>" alt="Generic placeholder image">
            <h3> <%= @chefs[2].name %> </h3>
            <p class="lead"><%= t('.chef_3')%></p>
            <li><a href= "<%= chef_path(@chefs[2]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver perfil</span></a>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-6 wow fadeInDown text-center">
            <img  src="<%= image_path('theme/chefs/profile_4.png') %>" alt="Generic placeholder image">
            <h3> <%= @chefs[3].name %> </h3>
            <p class="lead"><%= t('.chef_4')%></p>
            <li><a href= "<%= chef_path(@chefs[3]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver perfil</span></a>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

    </div>

  </div>
  </div>

  <!-- Use it -->
  <div id ="useit" class="content-section-a">

      <div class="container">

          <div class="row">

      <div class="col-sm-6 pull-right wow fadeInRightBig">
                  <%= image_tag "theme/Pescado-blanco-a-la-vasca1.jpg", :title => "example", :class=>"img-responsive" %>
              </div>

      <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
          <h3 class="section-heading"> <%= @dishes[0].name %> </h3>
          <div class="sub-title lead3"> <%= @dishes[0].chef.name %> <br> junio 27, 2016</div>
          <p class="lead"> <%= truncate(@dishes[0].description, :length => 200) %>
              <p>
                  <a href= "<%= dish_path(@dishes[0]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver detalles</span></a>
                  <a href= "<%= dish_path(@dishes[0]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ordenar</span></a>
              </p>
      </div>
          </div>
      </div>
      <!-- /.container -->
  </div>

  <div class="content-section-b">

  <div class="container">
          <div class="row">
              <div class="col-sm-6 wow fadeInLeftBig">
                  <div id="owl-demo-1" class="owl-carousel">
          <a href="img/iphone.png" class="image-link">
            <div class="item">
              <%= image_tag "theme/Barras-de-chocolate-y-toffee-con-almendras.jpg", :title => "example", :class=>"img-responsive img-rounded" %>
            </div>
          </a>
        </div>
              </div>

      <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
          <h3 class="section-heading"> <%= @dishes[1].name %> </h3>
          <div class="sub-title lead3"> <%= @dishes[1].chef.name %> <br> junio 27, 2016</div>
          <p class="lead"> <%= truncate(@dishes[1].description, :length => 200) %>
              <p>
                  <a href= "<%= dish_path(@dishes[1]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ver detalles</span></a>
                  <a href= "<%= dish_path(@dishes[1]) %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Ordenar</span></a>
              </p>
          </div>
    </div>
      </div>
  </div>


  <!-- Screenshot -->
  <div id="screen" class="content-section-b">
      <div class="container">
        <div class="row" >
    <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
      <h2><%=t('.your_order')%></h2>
      <p class="lead" style="margin-top:0"><%= t('.construction_1')%></p>
    </div>
    </div>
      <div class="row wow bounceInUp" >
            <div id="owl-demo" class="owl-carousel">

      <a href="img/slide/1.png" class="image-link">
        <div class="item">
          <img  class="img-responsive img-rounded" src="<%= image_path('theme/slide/1.png') %>" alt="Owl Image">
        </div>
      </a>

            <a href="img/slide/2.png" class="image-link">
        <div class="item">
          <img  class="img-responsive img-rounded" src="<%= image_path('theme/slide/2.png') %>" alt="Owl Image">
        </div>
      </a>

      <a href="img/slide/3.png" class="image-link">
        <div class="item">
          <img  class="img-responsive img-rounded" src="<%= image_path('theme/slide/3.png') %>" alt="Owl Image">
        </div>
      </a>

      <a href="img/slide/1.png" class="image-link">
        <div class="item">
          <img  class="img-responsive img-rounded" src="<%= image_path('theme/slide/1.png') %>" alt="Owl Image">
        </div>
      </a>

            <a href="img/slide/2.png" class="image-link">
        <div class="item">
          <img  class="img-responsive img-rounded" src="<%= image_path('theme/slide/2.png') %>" alt="Owl Image">
        </div>
      </a>

      <a href="img/slide/3.png" class="image-link">
        <div class="item">
          <img  class="img-responsive img-rounded" src="<%= image_path('theme/slide/3.png') %>" alt="Owl Image">
        </div>
      </a>
            </div>
        </div>
      </div>


  </div>

  <div  class="content-section-c ">
    <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center white">
        <h2><%= t('.subscribe')%></h2>
      </div>
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="mockup-content">
            <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
              <button type="button "><span><%= t('.subscription')%></span></button>
              <div class="morph-content">
                <div>
                  <div class="content-style-form content-style-form-4 ">
                    <h2 class="morph-clone"><%= t('.subscription')%></h2>
                    <form>
                      <p><label><%= t('email')%></label><input type="text"/></p>
                      <p><button><%= t('.subscription')%></button></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>>
    </div>
  </div>

  <!-- Credits -->
  <div id="credits" class="content-section-a">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2><%=t('.about_us')%></h2>
        </div>

        <%= stylesheet_link_tag 'static_pages' %>

  	    <div class ="wrapper container">
	        <div class="wrapper-body row">
		      	  <p class="intro-body"><%= t('.team_description')%></p>

			        <div class = "row team-row">
                <li><a href= "static_pages/about_us" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Conocenos Más</span></a>
              </div>

			    </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Banner Download -->
  <div id="downloadlink" class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Nuestras Redes</h2>
        <li><a href="https://twitter.com/" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
				</li>
      </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div id="contact" class="content-section-a">
    <div class="container">
      <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2><%=t('.contact_us')%></h2>
        <p class="lead" style="margin-top:0">A special thanks to Santa.</p>
        <%= link_to t('.contact_us'), new_contact_path, class:"btn  btn-lg mybutton_cyano wow fadeIn" %>
      </div>
      </div>
    </div>
  </div>



  <footer>

  <script type="text/javascript">
  jQuery(function($) {
  $(document).ready( function() {
  $('.navbar-default').stickUp();

  });
  });
  </script>
  <!-- Smoothscroll -->
  <script>
  new WOW().init();
  </script>
  </footer>
</body>
