<%= bootstrap_form_for [@user, order] do |f| %>

  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h3> <%= order.dish.name %> </h3>
    <h5> <%= order.dish.chef.username %> </h5>
  </div>

  <%= f.hidden_field :dish_id, {:value => params[:dish_id]} %>

  <div class="field">
    <%= f.select :amount, (1 .. order.dish.offer.amount) %>
  </div>

  <div class="field">
    <%= f.datetime_select :date, start_year: Date.today.year, end_year: Date.today.year + 1  %>
  </div>

  <div class="field">
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>