<div class="container" align="Center">
<h2 id="page_title"> <%= t('.contact_us') %> </h2>
<div class="row"  align="Center">
  <div class="col-md-4" align="left"></div>
  <div class="col-md-4" align="left">
<div class="skinny_wrapper wrapper_padding input-group">
  <%= bootstrap_form_for @contact do |f| %>
      <%= f.text_field :name, required: true %>
      <%= f.email_field :email, required: true %>

      <br>
      <%= f.text_area :message, rows: "6", as: :text %>

      <!-- to filter span -->
      <div class="hidden">
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>
      
      <div>
        <center>
          <%= f.submit t('.send'), :class => "btn btn-embossed btn-primary" %>
        </center>
      </div>
  <% end %>
  <br>
</div>
</div>
</div>
</div>
