<h1 id="page_title"><%= t('.contact_us') %></h1>

<div>
  <%= form_for @contact do |f| %>
      <%= f.label t('.name') %> <br>
      <%= f.text_field :name, required: true %>

      <br>

      <%= f.label t('.email') %> <br>
      <%= f.email_field :email, required: true %>

      <br>

      <%= f.label t('.message') %> <br>
      <%= f.text_area :message, as: :text %>

      <!-- to filter span -->
      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <br>
      <%= f.submit t('.send'), class: "button" %>
  <% end %>

</div>
