<%= bootstrap_form_for(dish, :html => { :multipart => true}) do |f| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <input readonly="readonly" value="<%= current_user.id %>" type="email" name="dish[chef_id]" id="dish_chef_id" style="display:none">
  <%end%>
  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.number_field :calories %>
  </div>

  <%= f.fields_for :dish_images do |p|%>
    <div class="field">
      <%= p.file_field :picture_url, :multiple => true, name: "dish_images[picture_url][]" %>
    </div>
  <% end %>

  <center>
    <div class="actions">
      <%= f.submit %>
    </div>
  </center>

<% end %>