<div id="filterrific_results">
  <br>
<div class="container">
      <% @dishes.each do |dish| %>
        <div class="col-md-5 dish">
          <div class="col-md-12" >
            <h3><a href= "<%= dish_path(dish) %>" class="link"><%= dish.name %></a></h3>
            <h4><a href= "<%= chef_path(dish.chef) %>" class="link"><%= dish.chef.username %></a></h4>
          </div>
          </br>
          </br>
          <div class="col-md-12">
            <div class="col-md-6" >
              <div class="imgdish-div">
                <img src="<%=dish.picture%>" class="img-circle">
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12" ><b><%= t("activerecord.attributes.dish.score") %>: </b><%= dish.score %></div>
              <div class="col-md-12" ><b><%= t("activerecord.attributes.dish.price") %>:</b> $<%= dish.price %></div>
              <div class="col-md-12" ><b><%= t("activerecord.attributes.dish.calories") %>: </b><%= dish.calories %></div>
            </div>
          </div>

          <div class="col-md-12" ><b><%= t("activerecord.attributes.dish.description") %>: </b><%= dish.description %></div>

          <div class="col-md-12" >
              <br>
              <%= link_to 'Ver más', dish, :class => "btn btn-embossed btn-primary " %>
              <%= link_to "<button class='btn btn-embossed btn-primary' >Editar</button>".html_safe, edit_dish_path(dish) if policy(dish).edit? %>
              <%= link_to 'Eliminar', dish, :class => "btn btn-embossed btn-primary ", method: :delete, data: { confirm: 'Are you sure?' } if policy(dish).destroy? %>
          </div>
        </div>

      <% end %>
</div>
</div>
