
<meta property="fb:app_id" content="1646406112338578">
<meta property="og:title" content="<%=dish.name%>">
<meta property="og:description" content="<%=dish.description%>">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=1646406112338578";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div class="col-md-12 dish-page">
    <div class="col-md-3" align="right">
          <%if @dish_images != nil%>
            <%if @dish_images.count > 0 %>
              <%= image_tag @dish_images.first.picture_url, :class => "img-responsive" %>
            <% else %>
              <%= image_tag "https://storage.googleapis.com/gournet_photos/uploads/dish_image/default.png", :title => "default", :class => "img-responsive" %>
            <% end %>
          <%else%>
            <%if dish_images.count > 0 %>
            <br>
              <div class="imgdish-div"> <img src="<%= dish_images.first.picture_url %>"></div>
            <% else %>
              <%= image_tag "https://storage.googleapis.com/gournet_photos/uploads/dish_image/default.png", :title => "default", :class => "img-responsive" %>
            <% end %>
          <%end%>
      </div>
    <div class="col-md-9">
      <div class="col-md-12" >
        <div class="button_down ">
          <h3 style="margin:0">
            <a href= "<%= dish_path(dish) %>" class="link"><%= dish.name %></a>
          <% if user_signed_in? %>
            <% if current_user.id != dish.chef.id%>
              <%flag = true
                favorite = nil%>
                <%if dish.favorite_dishes !=nil%>
                  <% dish.favorite_dishes.each do |favorite_dishe| %>
                    <% if favorite_dishe.user.id == current_user.id
                      flag = false
                      favorite = favorite_dishe
                      break
                      end%>
                  <%end%>
                <%end%>
                <%if flag%>
                  <a class="imgcircle wow btn" data-wow-duration="1.0s"
                  href="<%=new_favorite_dish_path(:user_id => current_user.id, :dish_id => dish.id)%>">
                  <img src="<%= image_path('theme/icon/heart_green.png') %>" alt="" style="padding:0; height:50px; width:50px;">
                  </a>
                  <!--<%= link_to "<button class='btn btn-success btn-sm'>Guardar</button>".html_safe,
                    new_favorite_dish_path(:user_id => current_user.id, :dish_id => dish.id),
                    method: :get %>-->
                <%else%>
                  <%= link_to "<img src='http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-delete-icon.png'".html_safe,
                  favorite_dish_path(favorite, :dish_id => favorite.dish_id), method: :delete %>
                <%end%>
            <%end%>
          <%end%>
          </h3>

          <h4>
            <% if chef != nil%>
                <a href= "<%= chef_path(chef) %>" class="link"><%= chef.username %></a>
            <%end%>
          </h4>
        </div>
      </div>
      <div class="col-md-4" ><b><%= t("activerecord.attributes.dish.score") %>: </b><%= dish.score %></div>
      <div class="col-md-4" ><b><%= t("activerecord.attributes.dish.price") %>:</b> $<%= number_with_delimiter(dish.price) %></div>
      <div class="col-md-4" ><b><%= t("activerecord.attributes.dish.calories") %>: </b><%= dish.calories %></div>
      <div class="col-md-12"><b><%= t("activerecord.attributes.dish.description") %>: </b><%= dish.description %></div>

      <% if !in_chef %>
        <div class="col-md-12">
          <button class="btn btn-primary  btn-sm" id="sharebtn" type="button" onclick="shareURL();" value ="">Compartir link</button>
          <% if user_signed_in? %>
            <div class="fb-share-button "
              data-href="https://gournet.herokuapp.com/es/dishes/<%=dish.id%>" data-layout="button" data-size="large" >
              <a class="fb-xfbml-parse-ignore" target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgournet.herokuapp.com%2Fes%2Fdishes%2F<%=dish.id%>%2F&amp;src=sdkpreparse">
                </a>
            </div>
            <!--<% if Identity.find_by_user_id(current_user.id) != nil%>
              <% if Identity.find_by_user_id(current_user.id).provider == "facebook"%>
                  <%= link_to "<button class='btn' >Compartir en facebook</button>".html_safe,
                  shareDish_path(:name => dish.name,:description => dish.description,:id => dish.id), data: { confirm: '¿Estas seguro que deseas compartir el plato?' } %>
              <%end%>
            <%end%>-->
          <%end%>
        </div>
        <div class="col-md-12">
          <br>
          <div id="share" style="display:none;">
            <div class="col-md-8"><%= text_field :shareurl, nil, value: request.original_url, class: "js-copyurl form-control" %></div>
            <div class="col-md-4"><button class="btn btn-primary js-copybutton" id="copyurl" type="button" value ="">Copiar</button></div>
          </div>
        </div>
      <%end%>

    <div class="col-md-12" >
        <% if view_more %>
          <%= link_to 'Ver más', dish, :class => "btn btn-embossed btn-primary" %>
        <%end%>
        <% if policy(dish).edit?%>
        <%= link_to 'Editar', (edit_dish_path(dish) if policy(dish).edit?), { :class => "btn btn-embossed btn-primary" } %>
        <%= link_to 'Eliminar', dish, :class => "btn btn-embossed btn-primary", method: :delete, data: { confirm: 'Are you sure?' } if policy(dish).destroy? %>
        <%end%>
    </div>
  </div>
</div>
