<div class=col-md-12 >
  <div class=col-md-12 >
    <h3>
      <% if chef != nil%>
        <a href= "<%= chef_path(chef) %>"><%= chef.username %></a> <%= divide %>
      <%end%>
    <a href= "<%= dish_path(dish) %>"><%= dish.name %></a></h3>
  </div>
  </br>
  <div class=col-md-12>
    <div class=col-md-3 >
      <div class="imgdish-div">
        <img src="<%= dish.picture %>" class="img-circle">
      </div>
    </div>
    <div class=col-md-9 >
      <div class=col-md-12 ><b>Description: </b><%= dish.description %></div>
      <div class=col-md-3 >Score: <%= dish.score %></div>
      <div class=col-md-4 >Price:  <%= number_with_delimiter(dish.price) %></div>
      <div class=col-md-4 >Calories: <%= dish.calories %></div>
      <div class=col-md-1 >
          <td><%= link_to 'Show', dish %></td>
          <td><%= link_to 'Edit', edit_dish_path(dish) if policy(dish).edit? %></td>
          <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } if policy(dish).destroy? %></td>
      </div>
    </div>
  </div>
  <hr>
  <hr>
</div>