<div class="col-md-12" >
  <div class="col-md-12" >
    <h3><a href= "<%= dish_path(dish) %>" class="link"><%= dish.name %></a></h3>
    <% if chef != nil%>
      <h4><a href= "<%= chef_path(chef) %>" class="link"><%= chef.username %></a></h4>
    <%end%>
    <% if user_signed_in? %>
      <% if current_user.id != dish.chef.id%>
        <%flag = true
          favorite = nil%>
          <%if dish.favorite_dishes !=nil%>
            <% dish.favorite_dishes.each do |favorite_dishe| %>
              <% if favorite_dishe.user.id == current_user.id
                flag = false
                favorite = favorite_dishe
                break
                end%>
            <%end%>
          <%end%>
          <%if flag%>
            <%= link_to "<button class='btn btn-success btn-sm'>Guardar</button>".html_safe,
              new_favorite_dish_path(:user_id => current_user.id, :dish_id => dish.id),
              method: :get %>
          <%else%>
            <%= link_to "<button class='btn btn-danger btn-sm'>Eliminar de guardados</button>".html_safe,
            favorite_dish_path(favorite, :dish_id => favorite.dish_id), method: :delete %>
          <%end%>

      <%end%>
    <%end%>
  </div>
  </br>
  </br>
  <div class="col-md-12">
    <div class="col-md-3" >
      <div class="imgdish-div">
        <img src="<%=dish.picture%>" class="img-circle">
      </div>
    </div>
    <div class=col-md-9>
      <div class="col-md-4" ><b><%= t("activerecord.attributes.dish.score") %>: </b><%= dish.score %></div>
      <div class="col-md-4" ><b><%= t("activerecord.attributes.dish.price") %>:</b> $<%= dish.price %></div>
      <div class="col-md-4" ><b><%= t("activerecord.attributes.dish.calories") %>: </b><%= dish.calories %></div>
      <div class="col-md-12" ><b><%= t("activerecord.attributes.dish.description") %>: </b><%= dish.description %></div>
      <div class="col-md-12" >
          <% if viewmore %>
            <%= link_to "<button class='btn btn-embossed btn-primary' >Ver mas</button>".html_safe, dish %>
          <%end%>
          <%= link_to "<button class='btn btn-embossed btn-primary' >Editar</button>".html_safe, edit_dish_path(dish) if policy(dish).edit? %>
          <%= link_to 'Eliminar', dish, :class => "btn btn-embossed btn-primary ", method: :delete, data: { confirm: 'Are you sure?' } if policy(dish).destroy? %>
      </div>
    </div>
    <% if dish.offer.active.count > 0 %>
        <table>
          <tr>
            <th> <%= t("activerecord.attributes.offer.amount") %> </th>
            <th> <%= t("activerecord.attributes.offer.delivery_date") %> </th>
            <th> <%= t("activerecord.attributes.offer.max_date") %> </th>
          </tr>
          <h4> Oferta actual: </h4>
          <% dish.offer.active.each do |offer| %>
              <tr>
                <div class=col-md-3 >
                  <td> <%= offer.amount %> </td>
                </div>
                <div class=col-md-3 >
                  <td>
                    <%= l(offer.delivery_date, format: :day)%>
                    <br>
                    <%= l(offer.delivery_date, format: :hour) %>
                  </td>
                </div>
                <div class=col-md-3 >
                  <td>
                    <%= l(offer.max_date, format: :day)%>
                    <br>
                    <%= l(offer.max_date, format: :hour)%>
                  </td>
                </div>
                <div class=col-md-3 >
                  <td>
                    <% if policy(offer).edit? %>
                      <a href= "<%= edit_offer_url(:id => offer.id) %>" class="btn btn-embossed btn-primary"> <%= t("offers.edit.edit_offer") %> </a>
                    <% else %>
                      <a href= "<%= new_order_url(:offer_id => offer.dish.id) %>" class="btn btn-embossed btn-primary"> <%= t("orders.new.new_order") %> </a>
                    <% end %>
                  </td>
                </div>
              </tr>
          <% end %>
        </table>
    <% end %>
    <% if policy(dish).edit? %>
        <div class=col-md-12 >
          <a href= "<%= new_offer_url(:dish_id => dish.id ) %>" class="btn btn-embossed btn-primary"> <%= t("offers.new.new_offer") %> </a>
        </div>
    <% end %>
  </div>
</div>
