<p id="notice"><%= notice %></p>

<h3 align="center"><%=t('layouts.application.dishes') %></h3>
<br/>

<div class="container">
    <div class="col-md-6 ">
    </div>
    <div class="col-md-6 ">

    <div class="col-md-3 ">
      Ordenar por:
    </div>
    <div class="col-md-6 ">
      <%= form_for_filterrific @filterrific do |f| %>
        <div>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, { :class => 'selectpicker' }) %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 ">
      <div>
        <%= link_to(
          'Restablecer filtros',
          reset_filterrific_url,
          class: "btn btn-embossed btn-primary"
        ) %>
      </div>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%= render_filterrific_spinner %>
    </div>
    </div>
</div>

<%= render(
  partial: 'dishes/list',
  locals: { dishes: @dishes }
) %>

<div class="col-md-12  text-center">
  <h4>
  <ul class=”pagination”>
    <li class=”disabled”> <%= will_paginate @dishes %></li>
  </ul>
</h4>
</div>
<!--
<table>
  <thead>
    <tr>
      <th>Chef</th>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Score</th>
      <th>Price</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.chef %></td>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.picture %></td>
        <td><%= dish.score %></td>
        <td><%= dish.price %></td>
        <td><%= dish.calories %></td>
        <td><%= link_to 'Show', dish %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish) if policy(dish).edit? %></td>
        <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } if policy(dish).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Dish', new_dish_path %> -->
