<p id="notice"><%= notice %></p>

<h1 align="center">Dishes</h1>


  <div class="container-fluid">
    <% @dishes.each do |dish| %>
      <div class=col-md-12 >    
          <div class=col-md-12 ><h3><a href= "<%= chef_path(dish.chef) %>"><%= dish.chef.username %></a> - <a href= "<%= dish_path(dish) %>"><%= dish.name %></a></h3></div>
          </br>
          </br>
          <div class=col-md-3 >
            <div class="imgdish-div"> 
              <img src="<%=dish.picture%>" class="img-circle">
            </div>
          </div>
          <div class=col-md-9 >
            <div class=col-md-12 ><b>Description: </b><%= dish.description %></div>
            <div class=col-md-3 >Score: <%= dish.score %></div>
            <div class=col-md-4 >Price:  <%= dish.price %></div>
            <div class=col-md-4 >Calories: <%= dish.calories %></div>
            <div class=col-md-1 ><%= link_to 'Show', dish %></div>
          </div>
          </br>
          </br>
      </div>
    <% end %>      
  </div>
<!--
<table>
  <thead>
    <tr>
      <th>Chef</th>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Score</th>
      <th>Price</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.chef %></td>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.picture %></td>
        <td><%= dish.score %></td>
        <td><%= dish.price %></td>
        <td><%= dish.calories %></td>
        <td><%= link_to 'Show', dish %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish) if policy(dish).edit? %></td>
        <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } if policy(dish).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Dish', new_dish_path %> -->
