<p id="notice"><%= notice %></p>

<p>
  <strong>Chef:</strong>
  <%= @dish.chef %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @dish.picture %>
</p>

<p>
  <strong>Score:</strong>
  <%= @dish.score %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @dish.calories %>
</p>

<%= link_to 'Edit', edit_chef_dish_path(@dish) %> |
<%= link_to 'Back', chef_dishes_path %>
