<p id="notice"><%= notice %></p>
<div class="container-field dish-page">
    <%=render "dishes/show_dish", dish: @dish, chef: @dish.chef, divide: " - ",view_more: false,  in_chef: false  %>
    <div class="col-md-12">
      <div class="col-md-6">
        <% if @dish.offer.active.count > 0 %>
          <h4> Oferta actual: </h4>
          <center>
          <div class="col-md-12">
            <div class="col-md-3"> <%= t("activerecord.attributes.offer.amount") %> </div>
            <div class="col-md-3"> <%= t("activerecord.attributes.offer.delivery_date") %> </div>
            <div class="col-md-3"> <%= t("activerecord.attributes.offer.max_date") %> </div>
          </div>

          <% @dish.offer.active.each do |offer| %>
                <div class="col-md-12">
                <div class="col-md-3" ><%= offer.amount %></div>
                <div class="col-md-3" >
                  <%= l(offer.delivery_date, format: :day)%> -
                  <%= l(offer.delivery_date, format: :hour) %>
                </div>
                <div class="col-md-3" >
                    <%= l(offer.max_date, format: :day)%> -
                    <%= l(offer.max_date, format: :hour)%>
                </div>
                <div class="col-md-3" >
                    <% if policy(offer).edit? %>
                      <a href= "<%= edit_offer_url(:id => offer.id) %>" class="btn btn-embossed btn-primary"> <%= t("offers.edit.edit_offer") %> </a>
                    <% else %>
                      <a href= "<%= new_order_url(:offer_id => offer.dish.id) %>" class="btn btn-embossed btn-primary"> <%= t("orders.new.new_order") %> </a>
                    <% end %>
                </div>
              </div>
          <% end %>
        </center>
        <% end %>
        <% if policy(@dish).edit? %>
            <div class="col-md-12" >
              <a href= "<%= new_offer_url(:dish_id => dish.id ) %>" class="btn btn-embossed btn-primary"> <%= t("offers.new.new_offer") %> </a>
            </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <H4>Comentarios</H4>
        <%@dish_evaluations.each do |evaluation| %>
            <%= render "dish_evaluations/show", dish_evaluation: evaluation%>
        <%end%>
        <div class="col-md-12">
          <%= render "dish_evaluations/new", dish: @dish%>
          <br>
        </div>
      </div>


</div>
