<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="col-md-12">
      <center>
        <%= link_to 'Agregar Direccion', new_address_path, class:"btn  btn-lg mybutton_cyano wow fadeIn" %>
      </center>
    </div>
    <br><br><br>
    <% @addresses.each do |address| %>
      <div class="col-md-3" align="center">
        <div class="imgs-div"> <img src="<%= asset_path 'house.png' %>" class="img-circle"></div>
        <h2><%= address.name %><h2>
        <%= link_to 'Mostrar', address ,class:"btn  btn-lg mybutton_cyano wow fadeIn" %>
         <%= link_to 'Eliminar', address, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn  btn-lg mybutton_cyano wow fadeIn" %>
      </div>
    <% end %>
  </div>
<br>
