<p id="notice"><%= notice %></p>
<p class="lead" align="Center" style="margin-top:0">

    <strong>Name:</strong>
    <%= @address.name %>
    <br>

    <strong>Address:</strong>
    <%= @address.address %>
    <br>

    <strong>Latitude:</strong>
    <%= @address.latitude %>
    <br>

    <strong>Longitude:</strong>
    <%= @address.longitude %>
     <br>
     
    <%= link_to 'Edit', edit_address_path(@address),class:"btn  btn-lg mybutton_cyano wow fadeIn" %>
    <%= link_to 'Back', addresses_path,class:"btn  btn-lg mybutton_cyano wow fadeIn" %>
  </p>
    
