<%= bootstrap_form_for [offer] do |f| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h3> <%= offer.dish.name %> </h3>
  </div>

  <%= f.hidden_field :dish_id, {:value => params[:dish_id]} %>

  <div class="field">
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.datetime_select :delivery_date %>
  </div>

  <div class="field">
    <%= f.datetime_select :max_date %>
  </div>

  <div class="actions" align="center">
    <%= f.submit :class => "btn btn-embossed btn-primary" %>
  </div>

<% end %>
