<div class="container" align="Center">
  <h2> <%= t('.edit_offer')%></h2>

  <div class="row"  align="Center">
    <div class="col-md-4" align="left"></div>
    <div class="col-md-4" align="left">
      <%= render 'form', offer: @offer %>
      <hr>
      <a href= "<%= @offer %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.4s"><span class="network-name"><%= t('.show_offer')%></span></a>
      <a href= "<%= offers_path %>" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.4s"><span class="network-name"><%= t('.edit_offer_back')%></span></a>
    </div>
  </div>
  <div class="span11">

  </div>
</div>
