<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @offer.dish %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @offer.amount %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @offer.delivery_date %>
</p>

<p>
  <strong>Max date:</strong>
  <%= @offer.max_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @offer.is_active %>
</p>

<%= link_to 'Edit', edit_chef_offer_path(@offer.dish.chef,@offer) %> |
<%= link_to 'Back', chef_offers_url(@offer.dish.chef) %>
